/* Navbar.css */

.navbar {
    background-color: #03233d;
    position: sticky;
    top: 0;
    z-index: 1030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .navbar-brand {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
  }
  
  .nav-link {
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover,
  .nav-link.selected {
    color: #00bcd4;
  }
  
  .nav-link.selected::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #00bcd4;
    border-radius: 2px;
  }
  
  .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 50%;
  }
  .right-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .user-icon {
    width: 35px;
    height: 35px;
    background-color: gray;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  