/* CreateOrder.css */

.custom-modal .modal-content {
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.custom-modal .modal-header {
    border-bottom: none;
    padding-bottom: 5px;
}

.custom-modal .modal-title {
    font-weight: bold;
    font-size: 20px;
}

.custom-modal .modal-body {
    padding-top: 0;
}

.custom-modal .form-control {
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}

.custom-modal .mb-3 {
    margin-bottom: 12px !important;
}

.custom-modal .modal-footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    /* border-top: 1px solid #e9ecef; */
    margin-top: 5px;
}

.custom-modal .custom-submit-btn {
    background: linear-gradient(to bottom, #5CC0F3, #32A9E1);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
}

.custom-modal .custom-submit-btn:hover {
    background: linear-gradient(to bottom, #32A9E1, #5CC0F3);
}

.create-order-btn {
    background-color: #0d6efd;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* .create-order-btn svg {
    margin-right: 5px;
} */

/* Required field asterisk styling */
.custom-modal .form-label::after {
    content: " *";
    color: red;
    font-weight: bold;
}
